*{
    margin: 0;
    padding: 0;
}

body{
    background: #f5f6fd;
    font-family: Arial, sans-serif;
    font-size: 12px;
    line-height: 1.5;
}

/* MENU  */
header {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0px;
    overflow: hidden;
    position: none;
    top: 0;
    background: #051933;
    width: 100%;
}

.menu {
    display: flex;
    justify-content: space-between;
    padding:14px 16px;
    list-style: none;
    position: none;
}

.menu > li {
    height: 30px;
    width:170px;
}

.menu li a{
    color: #ffff;
    text-decoration:none;  
}

    .menu ul {
        position:absolute;
        top:40px;
        background-color:rgb(5, 25, 51);
        display:none;
        width: 170px;
        list-style: none;
    }

    .menu ul li {
        padding: 10px;
    }

    .menu ul li:hover {
        background: white;
        color:black;
        cursor:pointer;
    }

    .menu ul li:hover > a {
        color: black
    }
  
    .menu li:hover ul {
        display:block;
    }
    
.biografia {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
}
.biografia img {
    border-radius: 50%; 
    border: 5px solid #50fa7b; 
    max-width: 200px; 
    max-height: 200px; 
}
img{
    justify-content: center;
    align-items: center;
    margin: 30px 0;
}

.img-projetos {
    display: flex;
}

.img-projetos img {
    margin: 0 auto;
}

h1, h2 {
    text-align: center;
    color: #093366;
    margin: 30px 0 0 0;
}

h1 { 
    font-size: 30px;
}

p, blockquote{
    text-align: center;
    color: #444;
}


/*===== CARDS PROJETOS =====*/
.secao-projetos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.projetos-card-container{
    display: flex;
}
.projeto-card-container{
    width: 250px;
    height: 250px;
    border-radius: 9px;
    border: 2px solid #eee;
    perspective: 1000px;
    margin: 5px;
    flex-direction: row;
}
.projeto-card{
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
}
.projeto-card-container:hover .projeto-card{
    transform: rotateY(180deg);
}

.projeto-card-imagem, .projeto-card-conteudo{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    border-radius: 9px;
    align-items: center;

}

.projeto-card-imagem{
    background-color: #333;
    color: #fff;
}

.projeto-card-conteudo{
    background-color: #517fa4;
    color: #fff;

    transform: rotateY(180deg);
}
.projeto-card-conteudo p{
   text-align: center;
}

.projeto-card-imagem img{
    border-radius: 9px;
    width:100%;
    height: 100%;
}

.projeto-card-conteudo p {
    color: white;
    padding: 15px;
    text-align: justify;
    font-size: 17px;
    margin-top: 0;
    margin-bottom: 1rem;
}

.ver-mais {
    display: flex;
    justify-content: center;
    padding: 24px;
}

.ver-mais a{
    font-size: 16px;
    color: #000;
    text-align: center;
    padding: 10px;
    border: 3px solid #2A7AE4;
    border-radius: 47px;
    text-decoration: none;
    font-weight: 700;
    width: 8em;
    margin-top: 10px;
}
.ver-mais a:hover{
    background-color: #2A7AE4;
    color: #fff;
}

.ver-mais a:active{
    background-color: #2A7AE4;
    box-shadow: 0px 2px #999;
    transform: translateY(4px);
}


/*===== FORMULÁRIO =====*/
.secao-formulario {
    display: flex;
    justify-content:center;
    margin: 30px 0;
}

form {
    width: 370px;
}

form ul li {
    display: block;
}

fieldset{
    margin:0 auto;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
    background-color: #fff;
    box-shadow: 0 0 10px 0 rgb(120 135 182 / 30%);
}
p.emphasis, legend{
    font-weight: bold;
    color: #167bf7;
}

  th{
    background-color: #EEE;
  }
  
  table{
    width: 64%;
    margin:auto;
    text-align: center;
  }

  ol{
    margin: 0 auto;
    width: 50px;
  }

table ul {
    display: flex;
    flex-direction: column;
    list-style: square;
    padding: 0;
    margin: 0;           
}
table li{
    display: flex;
    flex-direction: row;
    margin: 1em auto;
}

form li+li {
    margin-top: 1em; 
}

label {
    /* Uniform size e alignment */
    display: inline-block;
    text-align: right;
    color: #444;
}

input, 
textarea {
    /* Garante que todos os campos de texto tem a mesma fonte */
    font: 1em sans-serif;
    width:300px;
    box-sizing: border-box;
    border: 1px solid #999;
}

input[type=submit],
textarea {
    margin-left: 40px;
    margin-bottom: 1em;
}

input[type=submit]{
    border: none;
    border-radius: 2.5em;;
    padding: 12px 18px;
    outline: none;
    color: #051933;
    background-color: #a3ffbf;
    font-weight: 700;
    
    font-size: 14px;
    box-shadow: 2px 4px #999;
    cursor: pointer;
}

input[type=submit]:hover{
    background-color: #50fa7b;
}

input[type=submit]:active{
    background-color: #50fa7b;
    box-shadow: 0px 2px #999;
    transform: translateY(4px);
}

.secao-competencia{
    text-align: center;
}

.secao-habilidades{
    text-align: center;
    margin: 0 0 30px 0;
}

footer {
    background: #051933;
    text-align: center;
    color: #ffff;
    margin-top: auto;
    width: 100%;
    padding: 62px 0;
}

#links-footer {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

#links-footer a .icons {
    display: flex;
    align-items: center;
}
#links-footer a .icons img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
/*Ajustar o conteúdo para Smartphones*/
@media screen and (max-width:480px){
    body {
        max-width: 480px;
        font-size: 1.0em;
    }
    .menu {
        width: auto;
        height: auto;
        background-color: red;
    }
}

    